body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 50px auto;
    width: 50%;
    text-align: center;
  }
  
  li {
    background-color: lightgray;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }